.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  font-family: "Courgette", cursive;
  font-style: normal;
  text-align: center;
  flex: 1;
}

.result-page h2 {
  font-size: 28px;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
